/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.idea/
/district-server-db.iml
/figwheel_server.log
/tests-compiled/
/node_modules/
.rebel_readline_history
/out
package-lock.json